
<h2 id="CreandoD">Creando Dueños</h2>
<div class="container">
    <form action="/Home/Crear" method="post">
        <div class="mb-3">
            <label for="NombreDueño">Nombre</label>
            <input type="text" class="form-control" Name="NombreDueño" id="NombreDueño">
        </div>

        <div class="mb-3">
            <label for="Direccion">Direccion</label>
            <input type="text" class="form-control" Name="Direccion" id="Direccion">

        </div>

        <div class="mb-3">
            <label for="Telefono">Telefono</label>
            <input type="text" class="form-control" Name="Telefono" id="Telefono">

        </div>

        <div class="mb-3">
            <label for="email">email</label>
            <input type="text" class="form-control" Name="email" id="email">

        </div>
        <br>
        <button class="btn btn-primary">Guardar</button>

    </form>

</div>


